{% if host.data.routing.bgp is defined %}
{% for group in host.groups %}
{% if group.name == 'core_routing' %}
router bgp {{ group.data.asn }}
 bgp router-id {{ host.data.interfaces['Loopback0'].ip_address | ip_address }}
{% for neighbor in host.data.routing.bgp.neighbors %}
{% for afi in neighbor.address_families %}
{% for safi in afi.subsequent_address_families %}
 address-family {{ afi.id }} {{ safi.id }}
 !
 neighbor {{ neighbor.ip_address }}
  remote-as {{ group.data.asn }}
  update-source Loopback0
  address-family {{ afi.id }} {{ safi.id }}
  !
 !
{% endfor %}
{% endfor %}
{% endfor %}
!
{% endif %}
{% endfor %}
{% endif %}